/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --inspect: solid red 1px;
}

/* STYLING */
body {
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

#component {
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px;
}

.qr-code {
    width: 100%;
    height: 287px;
    margin-bottom: 30px;
}

.qr-code>img {
    width: 100%;
    border-radius: 25px;
}

h1 {
    font-size: 22px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.text {
    padding: 13px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    text-align: center;
}